#header { background-color: #4aaaa5;
text-align:center;
color: #ffffff;
width: 150px;
}

h1 {color: #4aaaa5}


p { font: #777777;
font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 2;}

img { float:left;
margin: 10px;}

body { background: #ffffff;
background-image: url("../topography/topography.png");}

div {width: 960px;
padding: 40px;
margin: 10px;
background: #ffffff;
border: solid;
align-content: center;
}

address {float:right;}

footer { text-align:center;}

